@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

button {
    font-family: 'Poppins';
    cursor: pointer;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    cursor: pointer;
    color: var(--BLACK);
    text-decoration: none;
}

:root {
    --TRUE-BLACK: #252525;
    --BLACK: #253d4e;
    --GREEN: #509e2f;
    --BRICK: #dc582a;
    --GRAY: #adadad;
    --ltGRAY: #f3f3f3;
    --ltTEXT-GRAY: #a1a1a1;
    --ORANGE: #EAAA00;
    --LIME: #C4D600;
    --GOLDEN : #fdc040;
}

body {
    overflow-x: hidden;
}

nav {
    height: 10vh;
    width: 100%;

    padding-inline: 5%;
    padding-block: 1%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    position: sticky;
    top: 0px;

    z-index: 500;
}

.nav-left {
    flex: 1;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    column-gap: 20px;

    >.menu-open-button{
        background: none;
        border: none;
        padding: 8px;
        color: var(--TRUE-BLACK);

        display: none;
    }

}
.logo-container {
    width: 96px;
    height: 46px;
    overflow: hidden;

    >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.nav-right {
    flex: 7;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    >.nav-right-inner-container {
        min-width: 30%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        column-gap: 40px;
    }
}

.nav-links-container {
    list-style-type: none;
    list-style-position: inside;

    min-width: 60%;

    display: flex;
    align-items: center;
    justify-content: start;

    column-gap: 20px;

    >li>a {
        text-decoration: none;
        color: var(--BLACK);
    }
}

.profile-icon-container {
    min-width: 42px;
    aspect-ratio: 1;
    border-radius: 50%;

    background-image: url(./assets/profile-icon.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
}


/* ----------------------------------------------------------------------------------- */

.hero-section {
    width: 100%;
    height: 65vh;

    padding-block: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    /* row-gap: 25px; */
}

.hero-banner-container {
    width: 94%;
    height: 355px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 4%;

    background-image: linear-gradient(90deg, #252525 -16.65%, rgba(0, 0, 0, 0.00) 100%), url(./assets/hero-bg-image.jpg);
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-banner-text-container {

    >.row-1 {
        font-size: 24px;
        color: var(--BRICK);
        line-height: 127%;
    }

    >.row-2 {
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        line-height: 127%;
    }

    >.row-3 {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        line-height: 127%;
    }
}

.hero-section-search-container {
    width: 94%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    >.search-container-heading {
        font-size: 22px;
        font-weight: 600;

    }
}

.search-input-form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;

    border-radius: 4px;
    overflow: hidden;


    >.left-search-and-icon-container {
        height: 100%;
        padding-inline: 12px;
        padding-block: 5px;

        flex: 9;

        background-color: var(--ltGRAY);

        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 7px;
    }

    >.left-search-and-icon-container>input {
        height: 100%;
        width: 100%;

        background: none;
        outline: none;
        border: none;

        font-size: 22px;
    }

    >.left-search-and-icon-container>input::placeholder {
        color: var(--GRAY);
        font-size: 16px;
    }

    >.search-button {
        background-color: var(--GREEN);
        flex: 0.3;
        min-width: 55px;

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
        cursor: pointer;
    }
}


/* ================================================================================= */

.explore-recipies-section {
    width: 100%;
    padding-block: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 4vh;
}

.categories-buttons-container {
    width: 94%;
    height: 8.5vh;
    min-height: 70px;
    /* min-height: fit-content; */
    overflow:visible;

    padding-block: 0.2%;

    display: flex;
    align-items: end;
    justify-content: start;
    flex-wrap: nowrap;

    column-gap: 12px;

    white-space: nowrap;
    overflow-x: scroll;

    >.categories-button {
        height: 90%;
        padding-inline: 1%;

        display: flex;
        align-items: center;
        column-gap: 28px;

        font-size: 16px;
        color: white;

        border-radius: 10px;

        >img {
            background-color: transparent;
        }

    }

    :nth-child(1) {
        background-color: var(--ORANGE);
    }

    :nth-child(2) {
        background-color: var(--LIME);
    }

    :nth-child(3) {
        background-color: var(--BRICK);
    }
}
.categories-button:hover{
    background-image: linear-gradient(to bottom, #31313118, #31313118);
}

.categories-buttons-container::-webkit-scrollbar {
    display: none;
}


.recipies-container {
    width: 94%;
    min-height: 70vh;
    display: flex;
    column-gap: 10px;
    padding-block: 10px;


    >.filter-outer-container{
        flex: 1.5;
        height: 60vh;        
        
        >.filter-recipies-aside {
            position: sticky;
            top: 12%;
            
            width: 100%;
    
            height: 15vh;
            min-height: 160px;
            padding-inline: 0.5%;
    
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
    
            >div:first-child {
                color: var(--TRUE-BLACK);
                font-size: 22px;
                font-weight: 600;
            }
    
            .rating-selection-container {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-evenly;
    
                height: 65%;
                width: 90%;
    
                >div:first-child {
                    font-size: 18px;
                    color: var(--TRUE-BLACK);
                    font-weight: 500;
                }
    
                .rating-selector-row-container {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    column-gap: 18px;
                }
    
                .rating-selector-row-container>input {
                    height: 18px;
                    width: 18px;
                    accent-color: var(--GREEN);
                }
            }
    
        }
    }


    >.recipies-cards-outer-container {
        flex: 8;
    }
}

.recipies-cards-outer-container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 3%;
    row-gap: 25px;

    >.recipe-card {
        width: 30%;
    }
}

.recipe-card {
    height: 45vh;
    min-height: 325px;
    min-width: 265px;
    padding-inline: 8px;
    padding-block: 12px;

    border: 2px solid var(--ltGRAY);
    border-radius: 12px;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    >.recipe-card-image-container {
        width: 100%;
        height: 250px;
        border-radius: 16px;

        overflow: hidden;

        /* background-image: url(https://source.unsplash.com/random?veggies); */
        background-size: 120% 120%;
    }


    >.recipe-card-bottom-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        column-gap: 10px;

        font-family: 'Inter';
    }
}

.recipe-card-bottom-container {

    >.tag {
        font-size: 10px;
        line-height: 24px;
        color: var(--ltTEXT-GRAY);
    }


    >.card-row-1 {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-block: 4px;

        >.card-title {
            color: var(--TRUE-BLACK);
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }

        >.card-rating{
            display: flex;
            min-width: 25%;
            justify-content: end;
            column-gap: 5%;

            .material-symbols-outlined{
                color: var(--GOLDEN);
                fill: var(--GOLDEN);
                font-size: 13px;
                font-weight: 800;
            }
            color: var(--ltTEXT-GRAY);
            font-size: 12px;
        }
    }

    >.card-row-2{
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding-block: 4px;

        width: 100%;

        >.time-required{
            color: var(--BRICK);
            font-size: 20px;
        }
        >.card-actions{                
                min-width: 25%;
                font-size: 22px;
                display: flex;
                align-items: end;
                justify-content: space-between;
                cursor: pointer;
                column-gap: 10px;
        }
    }
}


footer{
    color: var(--BLACK);
    background-color: var(--ltGRAY);
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 30px;

    padding-block: 30px;

    >.footer-content-section{
        width: 95%;
        padding: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        >div{
            width: 20%;
            min-width: 250px;            
        }
        >div:last-child{
            width: 24%;
            min-width: 350px;
        }
    }
    >.footer-socials-section{
        width: 95%;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;

        >button{
            border-radius: 50%;
            min-width: 30px;
            aspect-ratio: 1;
            background: var(--BLACK);
            color: white;
        }
    }
}
.footer-content-section{
    
    >.footer-links-container {
        list-style-position: inside;
        list-style-type: none;

        display: flex;
        flex-direction: column;

        row-gap: 24px;

        >li:first-child{
            font-weight: 600;
            font-size: 20px;
        }
    }
    >div{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    >div:first-child{
        text-align: justify;
    }
}
.subscription-form{
    display: flex;
    column-gap: 4px;
    >input{
        flex: 6;
        min-width: 60px;

        border-radius: 4px;
        padding: 5px;
    }
    >button{
        flex: 2;
        min-width: 50px;
        min-height: 30px;

        font-size: 16px;
        background-color: var(--GREEN);
        color: white;
        font-family: 'Inter';

        border-radius: 4px;
        border: none;
    }

}


/* ========================================================== */
#drawer-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.033);
    top: 0%;
    left: 0%;

    -webkit-backdrop-filter: brightness(50%);
    backdrop-filter: brightness(50%);

    z-index: 1000;
}
#drawer{
    height: 100%;
    width: 40vh;
    background-color: #fff;

    position: fixed;
    top: 0%;
    left: -41%;
    /* display: none; */

    z-index: 1001;


    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-inline-start: 30px;
    
    >div{
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        
        >ul {
                list-style-type: none;
                list-style-position: inside;
        
                /* min-width: 60%; */
        
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
        
                row-gap: 20px;
        
                >li>a {
                    text-decoration: none;
                    color: var(--BLACK);
                }
            }
        }
}


/* -------===========----------==========----------===========-------==========---------===========-------------==========------------===========----------========-----=-=-=-= */

@media screen and (max-width: 1157px) {
    .recipies-container{
        flex-direction: column;
        row-gap: 30px;
    }
    .recipies-cards-outer-container {
        justify-content: space-between;
    }
}

@media screen and (max-width: 920px) {

    .menu-open-button{
        display: flex !important;
    }
    .nav-right-inner-container{
        justify-content: right !important;
    }
    .nav-links-container{
        display: none;
    }

    .recipies-cards-outer-container {
        justify-content: space-evenly;
    }

    .footer-content-section {
        >.footer-links-container{
            display: none;
        }
        >div{
            width: 45% !important;
        }
        >.subscription-service-container {
            >div:first-child {
                display: none;
            }
            >.subscribe-text-container {
                text-align: right;
            }
        }
    }
}
   
@media screen and (max-width: 735px) {

    .hero-section {
        row-gap: 25px;
    }

    .recipies-cards-outer-container {
        justify-content: flex-start;
        column-gap: 5%;
    }

    footer {

        font-size: 13px;

        >.footer-content-section {
            flex-direction: column;

            row-gap: 25px;

            >div {
                width: 90% !important;
            }
            >.subscription-service-container > .subscribe-text-container {
                text-align: justify;
            }
        }
    }
    
    .hero-section{
        padding-block-end: 5%;
    }
    .hero-banner-container{
        align-items: flex-start;
        padding-block-start: 5%;
    
        >.hero-banner-text-container{
            >div{
                margin-block: 10px;
            }
            >.row-1 {
                font-size: 18px;  
                margin-top: 0;              
            }
            >.row-2 {
                font-size: 32px;                
            }
            >.row-3 {
                font-size: 16px;                
            }
        }
    }
}
